<header class="header">

    <a href="/"> <img id="logo" class="header__logo" src="/images/logo.jpg" alt=""></a>

    <button class="header__hamburger">
      <i class="fas fa-bars"></i>
    </button>
  <%- include('../partials/nav-bar') %> 
  </header>