<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<body class="home">
  <!-- encabezado -->
  <%- include('../partials/header')%>
  <!-- principal -->
  <main class="home__main">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <main class="login__main">
        <section class="login__main__section">
            <article class="login__main__section__article">
              
              
                <form action="">
                    <div class="form__header">
                        <h1>Ingresá</h1>
                        <hr>
                    </div>
                   
                    <div class="form__box">
                        <input type="email" placeholder="Email" name="email" id="email">
                    </div>
                    <div class="form__box">
                        <input type="password" placeholder="Contraseña" name="password" id="password">
                        <small><a href="">Olvidé mi contraseña</a></small> 
                    </div>
                    <div class="form__box--remember">
                        <input id="remember" name="remember" type="checkbox">
                        <label class="form__label" for="remember">Recordame</label>
                    </div>
                    <div class="form__box--buttons">
                        <button class="buttons buttons__primary" type="submit">Enviar</button>
                    </div>
                    <div class="form__footer">
                        <small>¿No estás registrado? <a href="/registrar">Registrate</a></small> 
                    </div>
                    
                    
                </form>
            </article>
        </section>
      </main>
    </div>
  </div>
  </main>
  <!-- pie de pagina -->
  <%- include('../partials/footer')%>

  <%- include('../partials/scripts')%>
    <script>

      new Glider(document.querySelector('.glider'), {
        slidesToShow: 1,
        slidesToScroll: 1,
        draggable: true,
        dots: '.dots',
        arrows: {
          prev: '.glider-prev',
          next: '.glider-next'
        },
        responsive: [
          {
            // screens greater than >= 768px
            breakpoint: 768,
            settings: {
              // Set to `auto` and provide item width to adjust to viewport
              slidesToShow: 3,
              slidesToScroll: 1,
              itemWidth: 150,
              duration: 0.25
            }
          },{
            // screens greater than >= 1024px
            breakpoint: 1024,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 1,
              itemWidth: 150,
              duration: 0.25
            }
          }
        ]
      });

    </script>
</body>
</html>